body {
    background:#E6E6E6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*
    background:url(images/logo.jpg); --> This is to add an image to the background
    background-repeat: no-repeat; --> This is so that the background image doesn't repeat
    background-attachment:scroll; or fixed --> This is so that the image scrolls or doesn't scrolls
    background-position: 500px 200px; --> This is so that the image moves to the right and to the left
    background: ;
    */ 
}

nav {
    background: #58ACFA ;
    color: #393e46;
    /*padding-right: 10%;*/
    /*padding-left: 5%;*/
    letter-spacing: 5px;
    padding: 15px 500px 15px 500px;
    /*margin: 10px;*/
    text-shadow: 0px 0px 10px rgba(0,0,0,0.10), 10px 10px 10px rgba(0,0,0,0.35);
    margin: 0px 30px 40px 15px ;
    /*display: inline-block; this is to make it a block*/
    box-shadow: 0px 5px 0px rgba(0,0,0,0.10), 10px 10px 10px rgba(0,0,0,0.2);
    
    
}

a:visited /*The color that the link will become after it was clicked*/ {

}

a:link /*This is to give the links different colors for when they've been visited or not */{
    /*color: #DF1338 this is for links that you have not visited
    font-size: 15px;*/

}

a:hover /*This is to change the formatting when hovering over the links*/ {
    text-decoration: underline;
    /*background: #000; this is to change the color of the link when hovering over*/
}

a:active /*This is to dictate behavior for after a link has been clicked */ {

}

p {
    width:700px;
    background:white;
    margin:20px 50px;
    margin-left: 200px;
    padding: 10px;
    box-shadow: 0px 5px 0px rgba(0,0,0,0.10), 10px 10px 10px rgba(0,0,0,0.2);
        
}

.back {
    margin-left: 100px;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.10), 10px 10px 10px rgba(0,0,0,0.2);
    
}

/*.box{
    position: relative;
    top: ;
    bottom: ;
    right: ;
    left: 200px ;
}
*/
.hobs{

}

#profPhoto {
    float:left;
    border: 3px solid #000;
    width: 200px;
    margin-top: 30px;
    margin-left: 50px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 10px 10px 10px rgba(0,0,0,0.6);
    transform: scaleX(1);
}
#profPhoto:hover {
    transform: scaleX(-1);
}

/*#logo:hover {
    float:left;
    border: 3px solid #000;
    width: 200px;
    margin-top: 30px;
    margin-left: 50px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 10px 10px 10px rgba(0,0,0,0.6);
    transform: scaleX(1);
}

#logo:hover {
    transform: scaleX(-1);
}
*/

#logo {
    box-shadow: 0px 5px 0px rgba(0,0,0,0.10), 10px 10px 10px rgba(0,0,0,0.2);
}

button {
    color: red;
    border-radius: 200px;
    height: 100px;
    width: 100px;
    margin-inline: 500px;
}

.name {
    margin-right: 600px;
    margin-top: 50px;
}

.foot {
    text-align: center;
}

/*
body {
    background-color: rgb(233, 237, 240);
    color: rgb(31, 29, 29);
}
*/