body {
    background: #d1c5c5;
    /*
    background:url(images/logo.jpg); --> This is to add an image to the background
    background-repeat: no-repeat; --> This is so that the background image doesn't repeat
    background-attachment:scroll; or fixed --> This is so that the image scrolls or doesn't scrolls
    background-position: 500px 200px; --> This is so that the image moves to the right and to the left
    */ 
}

p {
    width:700px;
    background:white;
    margin:20px 50px;
        
}

/*.box{
    position: relative;
    top: ;
    bottom: ;
    right: ;
    left: 200px ;
}
*/
.hobs{

}

#profPhoto {
    float:left;
    border: 3px solid #000;
    width: 200px;
    margin-bottom: 10px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 10px 10px 10px rgba(0,0,0,0.6);
    transform: scaleX(1);
}
#profPhoto:hover {
    transform: scaleX(-1);
}

button {
    color: red;
    border-radius: 200px;
    height: 100px;
    width: 100px;
    margin-inline: 500px;
}

.name {
    margin-left: 20px;
    margin-top: 200px;
}

/*
body {
    background-color: rgb(233, 237, 240);
    color: rgb(31, 29, 29);
}
*/